<span class="text-center login-title"><b>Cadastro de clientes</b></span>
<br>
<form novalidate name="formulario" >
    <div class="col-md-12">
        <button type="text" ng-click="cadastrarCliente(cliente)" class="btn btn-primary botao-salvar">Salvar</button>
    </div> 
    <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input type="text" ng-model="cliente.nome" class="form-control" id="nome" >
    
        <label for="cpfCnpj">Cpf/Cnpj</label>
        <input type="text" ng-model="cliente.cpfCnpj" class="form-control" id="cpfCnpj" >

        <label for="sobrenome">Sobrenome</label>
        <input type="text" ng-model="cliente.sobrenome"class="form-control" id="sobrenome" >
    </div>

    <div class="form-group col-md-6">
        <label for="telefone">Telefones&nbsp;<span class="glyphicon glyphicon-plus botao-adicionar" data-target="#modalTelefone" data-toggle="modal"></span></label>
        <ul class="list-group">
            <li class="list-group-item" > &nbsp;
                <span class="btn btn-sm" ng-repeat="telefone in telefones">
                    <button type="text" class="btn" ng-click="editarTelefone(telefone)" >{{telefone.numero}}</button><span ng-click="excluirTelefone(telefone)" class="glyphicon glyphicon-remove"></span>
                </span>
            </li>
        </ul>
        <label for="endereco">Endereços&nbsp;<span class="glyphicon glyphicon-plus botao-adicionar" data-target="#modalEndereco" data-toggle="modal"></span></label>
        <ul class="list-group">
            <li class="list-group-item" > &nbsp;
                <span class="btn btn-sm" ng-repeat="endereco in enderecos">
                    <button type="text" class="btn" ng-click="editarEndereco(endereco)"ng-class="{enderecoPrincipal:endereco.principal}">{{endereco.descricao}}</button><span ng-click="excluirEndereco(endereco)" class="glyphicon glyphicon-remove"></span>
                </span>
            </li>
        </ul>
    </div>         
</form>

<div class="modal fade" id="modalTelefone" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Telefone</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form novalidate name="formulario-telefone">
                <input type="hidden" ng-model="telefone.id" class="form-control" id="id">
                <div class="form-group ">
                    <label for="descricao" class="col-form-label">Descrição</label>
                    <input type="text" ng-model="telefone.descricao" class="form-control" id="descricao">
                </div>

                <div class="form-group ">
                    <label for="numero" class="col-form-label">Número</label>
                    <input type="text" ng-model="telefone.numero" class="form-control" id="numero">
                </div>

                <div class="form-group ">
                    <label for="tipo">Tipo</label>
                    <select ng-model="telefone.tipo" class="form-control" id="tipo">
                        <option value="1">Residencial</option>
                        <option value="2">Comercial</option>
                        <option value="3">Celular</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="salvarTelefone()">Salvar</button>
        </div>
        </div>
    </div>   
</div> 

<div class="modal fade" id="modalEndereco" tabindex="-2" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Endereço</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <form novalidate name="formulario-endereco">
                <input type="hidden" ng-model="endereco.id" class="form-control" id="id">
                <div class="col-md-12 modalEnderecoCabecalho">
                    <div class="form-group col-md-6">
                        <label for="enderecoDescricao" class="col-form-label">Descrição</label>
                        <input type="text" ng-model="endereco.descricao" class="form-control" id="enderecoDescricao">
                    </div>
        
                    <div class="form-group col-md-6">
                        <label for="logradouro" class="col-form-label">Logradouro</label>
                        <input type="text" ng-model="endereco.logradouro" class="form-control" id="logradouro">
                    </div>  
                    
                    <div class="form-group col-md-6">
                        <label for="numero" class="col-form-label">Número</label>
                        <input type="text" ng-model="endereco.numero" class="form-control" id="numero">
                    </div> 

                    <div class="form-group col-md-6">
                        <label for="complemento" class="col-form-label">Conplemento</label>
                        <input type="text" ng-model="endereco.complemento" class="form-control" id="complemento">
                    </div> 
                    
                    <div class="form-group col-md-6">
                        <label for="bairro" class="col-form-label">Bairro</label>
                        <input type="text" ng-model="endereco.bairro" class="form-control" id="bairro">
                    </div> 

                    <div class="form-group col-md-6">
                        <label for="cep" class="col-form-label">Cep</label>
                        <input type="text" ng-model="endereco.cep" class="form-control" id="cep">
                    </div> 

                    <div class="form-group col-md-6">
                        <input type="checkbox" ng-model="endereco.principal" class="form-check-input" id="principal">
                        <label class="form-check-label" for="principal">Endereço principal</label>
                      </div> 
                </div> 
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="salvarEndereco()">Salvar</button>
                </div>     
          </form>
        </div>
        
      </div>
    </div>
</div>
   